.btn-vote_up,
.btn-vote_down{

  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 10px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;

}

.btn-vote_up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.btn-vote_down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

