body {
  
}

div {
}

#body_div {
  margin-left: auto;
  margin-right: auto;
  width : 1000px;
}

#navbar {
    *position: relative;
    *z-index: 2;
    margin: -10px -10px 20px -10px;
    overflow: visible;
    background-color: black;
    color: #777777;
}


#conversations {
  color: black;
  border: 1px solid black;
  float: left;
  width: 65%;
  padding: 10px;
  margin-bottom: 10px;
}

#related {
  float: right;
  width: 30%;
  color: yellow;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 10px;
}

#input {
  clear: both;
  margin-bottom: 10px;
}

textarea, textarea:focus {
  border: none;
  resize: none;
  outline: none;
  outline: 0;
}

#content {
  width: 95%;
}

input {
  border: none;
  outline: none;
  outline: 0;
}

#countdown {
  vertical-align: super;
}

#footer {
  margin-top: 0px -10px 0px -10px;
  border: 2px dotted red;
  clear: both;
}

* {
  font-family: monospace;
  font-size: 15px;
}

.date-and-author {
  text-align: right;
  font-size: 10;
}
