body {
  
}

div {
}

#body_div {
  margin-left: auto;
  margin-right: auto;
  width : 800px;
}

#navbar {
    *position: relative;
    *z-index: 2;
    margin-bottom: 20px;
    overflow: visible;
    background-color: black;
    color: #777777;
}


#conversations {
  color: black;
}

#related {
  color: yellow;
}
