<!DOCTYPE html>
<html>
<head>
  <title>Yocto</title>
  <link href="../css/yocto_style.css" rel="stylesheet" type="text/css" />
  <link href="../css/democracy.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../js/limit_input.js"></script>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/vote.js"></script>
</head>


<body>
  <div id="navbar">
       <a href= /login > Login! </a> 
       <a href= /logout > Logout </a>
  </div>
  <h1> YOCTO </h1> 
  <div id="body_div">
    <div id="conversations">
      {% for post in posts %}
        {{ post.render() | safe }}
      <hr/>
      {% endfor %}
    </div>
    <div id="related">
      <div id="tweets">
      {% for tweet in tweets %}
      <p> tweet </p>
      {% endfor %}
      </div>
      <div id="google-results">
      {{ results | safe }}
      </div>
    </div>

    <form method="post" id="input">
        <textarea rows="1" name="content" id="content"
        onkeydown="limitText(this.form.content, this.form.countdown, 100);"
        onkeyup="limitText(this.form.content, this.form.countdown,
        100);"></textarea>
        <input readonly type="text" id="countdown" size="3"
        value="100">
        </br>
        <label>title:</label> <input type="text" name="title" id="title">
        <label>author:</label> <input type="text" name="author" id="title">
        <input type="submit" value="submit" id="submit">
    </form>
  </div>
  <div id="footer">
    this is the footer
  </div>
</body>
  <script type="text/javascript" src="../js/onload.js"></script>
</html>
