<!DOCTYPE html>
<html>
<head>
  <title>Yocto</title>
  <link href="../css/yocto_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="navbar">
        this is some text in the navbar
  </div>
  <div id="body_div">
    <div id="conversations">
      {% for post in posts %}
        {{ post.render() | safe }}
        <br/><br/><hr/>
      {% endfor %}
    </div>
    <div id="related">
        this is some text in the related div
    </div>
  </div>
  <form method="post" id="input">
      <textarea rows="1" cols="50" name="content">sometext</textarea>
      <label>title:</label> <input type="text" name="title">
      <label>author:</label> <input type="text" name="author">
      <input type="submit" value="submit">
  </form>
  <div id="footer">
    this is the footer
  </div>
</body>
</html>
